<div *ngIf="blog" [id]="blog.id" class="card mt-2">
  <div class="card-header">
    <div class="">
      {{blog.title}}
      <a *ngIf="blog.active" class="badge badge-success float-right mt-1">Active</a>
      <a *ngIf="!blog.active" class="badge badge-warning float-right mt-1">Inactive</a>
    </div>
  </div>

  <!-- Content -->
  <div class="card-body">

    <div class="row mb-2">
      <!-- Img -->
      <div class="col-12 col-md-4">
        <img [alt]="blog.title" [src]="blog.imageURL" class="responsive">
      </div>
      <!-- Meta Infos -->
      <div class="col-12 col-md-8 pr-2 pl-3">
        <p>{{blog.subTitle}}</p>

        <label class="font-weight-bold">About</label>
        <ul>
          <li>
            <pre class="mb-0">Author: {{blog.author}}</pre>
          </li>
          <li>
            <pre class="mb-0">Created: {{blog.created}}</pre>
          </li>
          <li>
            <pre class="mb-0">Last update: {{blog.updated}}</pre>
          </li>
        </ul>

        <button class="btn btn-sm btn-outline-warning" routerLink="./update/{{blog.id}}">Update</button>
        <button (click)="delete()" class="btn btn-sm btn-outline-danger ml-2" type="button">Delete</button>
      </div>

    </div>

    <div [innerHTML]="blog.content"></div>
  </div>

</div>
